<?xml version="1.0" encoding="utf-8"?>
<!--Aqui comienza el robot-->
<robot xmlns:xacro="http://ros.org/wiki/xacro" >

  <link name="lidar_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.05"/> 
      </geometry>
      <material name="black">
          <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.05"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.15"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="lidar_joint" type="fixed">
    <parent link="P"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/> 
  </joint>

  <gazebo reference="lidar_link">
    <sensor name="lidar_sensor" type="gpu_lidar">
      <always_on>true</always_on>
      <visualize>true</visualize> 
      <update_rate>10.0</update_rate> 
      <topic>scan</topic>
      <gz_frame_id>lidar_link</gz_frame_id>
        <ray>
          <scan>
            <horizontal>
            <samples>360</samples> 
            <resolution>1.0</resolution>
            <min_angle>-3.14159</min_angle> 
            <max_angle>3.14159</max_angle>  </horizontal>
          </scan>
          <range>
            <min>0.15</min> 
            <max>25.0</max> 
            <resolution>0.01</resolution>
          </range>
            <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev> </noise>
          </ray>
    </sensor>
  </gazebo>

</robot>