<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin 
            filename="gz-sim-joint-position-controller-system" 
            name="gz::sim::systems::JointPositionController">
            <joint_name>link_1_joint</joint_name>
            <p_gain>200.0</p_gain>
            <d_gain>65.0</d_gain>
            <i_gain>0.01</i_gain>
            <i_max>1.0</i_max>   <i_min>-1.0</i_min>  
        </plugin>
    </gazebo>

    <gazebo>
        <plugin 
            filename="gz-sim-joint-position-controller-system" 
            name="gz::sim::systems::JointPositionController">
            <joint_name>link_2_joint</joint_name>
            <p_gain>100.0</p_gain>
            <d_gain>30.0</d_gain>
            <i_gain>0.01</i_gain>
            <i_max>1.0</i_max>
            <i_min>-1.0</i_min>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin 
            filename="gz-sim-joint-position-controller-system" 
            name="gz::sim::systems::JointPositionController">
            <joint_name>link_3_joint</joint_name>
            <p_gain>100.0</p_gain>
            <d_gain>30.0</d_gain>
            <i_gain>0.01</i_gain>
            <i_max>1.0</i_max>
            <i_min>-1.0</i_min>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin 
            filename="gz-sim-joint-state-publisher-system" 
            name="gz::sim::systems::JointStatePublisher">
            <joint_name>link_1_joint</joint_name>
            <joint_name>link_2_joint</joint_name>
            <joint_name>link_3_joint</joint_name>
            <update_rate>100</update_rate>
        </plugin>
    </gazebo>

</robot>